* {
    box-sizing: border-box;
    outline: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Noto Sans JP', sans-serif !important;
}

body {
    font-size: 1rem;
}

.container {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 2rem;
}

nav {
    background: orange;
}

main {
    padding-top: 30px !important;
    background: #eee;
}

nav, main {
    padding: 1rem 2rem;
}

canvas {
    box-shadow: 0px 0px 3px 3px #aaa;
    margin-bottom: 30px;
}

.full-height {
    height: 100vh;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.button-box button {
    width: 100%;
}

.button-box .spacer {
    width: 15px;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 1px 1px #aaa;
}

#erase-button {
    background: orangered;
}

#undo-button {
    background: yellowgreen;
}

#candidates {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 210px;
    width: 90px;
    margin: 0 50px;
}

#candidates > button {
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.box {
    box-shadow: 0px 0px 2px 2px #ccc;
    background: #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.box h3 {
    margin: 0;
    color: #666;
    font-size: 0.8rem;
}

h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: black;
    color: #444;
    text-align: center;
    transform: translateY(-20px);
}

#kanjiView {
    height: 400px;
    overflow: hidden;
}